<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: red;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4> This is a Docker Container running inside Jenkinks and EC2 instance - May 9th, 2025!!</h4>
      <h4>* Deploying Containers into ECR cluster using Jenkins Pipeline *</h4>
      <br>
       <h4>Final Project Submission - 548 & 581</h4>
    </div>
  </body>
</html>
